<% @title = "상품 등록" %>

<nav class="navbar nav-global fixed-top navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" href="javascript:history.back()">
            <i class="material-icons ic-filter">arrow_back_ios</i>뒤로
        </a>
    </div>
</nav>

<div class="container container-sm container-item-create">
    <h5 class="container-headline">중고거래 상품 등록</h5>
                                                                      
    <%= form_for @item, url: {controller: "items", action: "create"}, html: { multipart: true } do |f| %>  
        <div class="form-group form-picture">
            <div class="file-box">
                <input class="upload-name" value="파일선택" disabled="disabled">
                <label for="item_image" class="btn btn-secondary">업로드</label>
                <input type="file" required="required" name="item[image]" accept="image/png,image/gif,image/jpeg" id="item_image" class="upload-hidden">
            </div>
        </div>
        <div class="form-group form-title">
            <input type="text" required="required" name="item[title]" class="form-control" id="itemsTitle" placeholder="제품 이름을 입력해주세요.">
        </div>
        <div class="form-group form-category">
        <% if @categories.present? %>
            <%= collection_select(:item, :category_id, Category.all, :id, :title, {:selected => @categories.id}, {id: "itemsCategory", class: "form-control"}) %>
        <% else %>
            <%= collection_select(:item, :category_id, Category.all, :id, :title, {prompt: '카테고리를 선택해주세요.'}, {id: "itemsCategory", class: "form-control"}) %>
        <% end %>
        </div>
        <div class="form-group form-price">
            <input type="number" name="item[price]" class="form-control" id="itemsPrice" min="0" step="1000" placeholder="가격을 입력해주세요. (￦)" required>
            <% if !!flash[:errors] %>
                <% flash[:errors].each do |e| %>
                    <% if e.include? "price" %>
                    <h6 class="error-code">가격은 0원부터 1억원까지만 입력 가능합니다.</h6>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="form-group form-description">
            <textarea name="item[description]" class="form-control" id="itemsDescription" rows="10" placeholder="제품 설명을 작성해주세요." required></textarea>
        </div>
        <div class="form-hidden form-group form-car-model-year">
            <select name="item[caryear]" id="carModelYear" class="required-value form-control" required>
                <option value="" disabled selected>차량 연식을 선택해주세요</option>
                <option value="2020">2020년</option>
                <option value="2019">2019년</option>
                <option value="2018">2018년</option>
                <option value="2017">2017년</option>
                <option value="2016">2016년</option>
                <option value="2015">2015년</option>
                <option value="2014">2014년</option>
                <option value="2013">2013년</option>
                <option value="2012">2012년</option>
                <option value="2011">2011년</option>
                <option value="2010">2010년</option>
            </select>
        </div>
        <div class="form-hidden form-group form-car-mileage">
            <input type="number" name="item[mileage]" class="required-value form-control " id="carMileage" placeholder="주행거리를 입력해주세요." required> 
            <% if !!flash[:errors] %>
                <% flash[:errors].each do |e| %>
                    <% if e.include? "mileage" %>
                    <h6 class="error-code">주행거리는 0km부터 10,000km까지만 입력 가능합니다.</h6>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="form-hidden form-group form-car-smoking">
            <label>차량 판매자 흡연 여부</label>
            <div class="form-check form-check-inline form-check-smoking">
                <input class="required-value form-check-input" type="radio" name="item[smokingOptions]" id="inlineSmoker" value="true" required>
                <label class="form-check-label smoker" for="inlineSmoker">예, 흡연자 입니다.</label>
            </div>
            <div class="form-check form-check-inline form-check-nonsmoking">
                <input class="form-check-input" type="radio" name="item[smokingOptions]" id="inlineNonSmoker" value="false">
                <label class="form-check-label non-smoker" for="inlineNonSmoker">아니오, 비 흡연자 입니다.</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">상품 등록하기</button>
    <% end %>
</div>

<script>
    $(document).ready(function(){
        var fileTarget = $('.file-box .upload-hidden');
        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.upload-name').val(filename);
        });
    });

    // 차량에 대한 추가 폼 표시 및 숨김
    jQuery('#itemsCategory').change(function() {
	    var state = jQuery('#itemsCategory option:selected').val();
        if (state == '1') {
	        jQuery('.form-hidden').show();
            $(".required-value").attr('required', true);
        } else {
	        jQuery('.form-hidden').hide();
            $(".required-value").attr('required', false);
        }
    });
    // 카테고리 목록 페이지에서 상품 등록 버튼 클릭시, 해당 폼 표시&숨김 자동 실행 트리거
    <% if @categories.present? %>
        $('#itemsCategory').val('<%= @categories.id %>').trigger('change');
    <% end %>
</script>