<nav class="navbar nav-global nav-global-sign navbar-expand-sm">
  <div class="container d-flex justify-content-center">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.svg', class: 'img-brand', alt: '당근마켓', width: 132 %>
    <% end %>
  </div>
</nav>